.hero{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
h1{
    margin-left: 500px;
}
h4{
    text-align: center;
    font-weight: 900;
}
#theme1{
    margin-left: auto;
}
  body{
            height: 100vh;
            background-color: black;
            color: aliceblue;
        }

.img{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}
img{
    margin-top: 10px;
    border-radius: 15px;
}
.title{
    color: black;
}
.card{
    
   justify-content: center;
   text-align: center;
    height: 400px;
    width: 400px;
      background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

h3{
    text-align: center;
}
.button
{
  
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    background-color: aqua;
    height: 50px;
    padding: 10px;
    border-radius: 100px;
}
.btn
{
    height: 30px;
      border: 2px rgb(203, 246, 33) dotted;
      border-radius: 15px;
    background-color: rgb(245, 238, 238);
    color: rgb(0, 4, 8);
}

/* Light mode Code */

.themecard{
    
   justify-content: center;
   text-align: center;
    height: 400px;
    width: 400px;
      background-color: rgb(0, 0, 0);
    border-radius: 20px;
}
.titlelight{
    color: rgb(255, 249, 249);
}

body.light-mode {
  background-color: white;
  color: black;
}
.btnlight
{
    height: 30px;
      border: 2px rgb(236, 0, 0) dotted;
      border-radius: 15px;
    background-color: rgb(2, 1, 1);
    color: rgb(255, 255, 255);
}

/* Shadow style */
.shadow
{
      justify-content: center;
   text-align: center;
    height: 400px;
    width: 400px;
      background-color: rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 20px 20px 30px greenyellow;
}

/* Animation style */

.animate-box {
     justify-content: center;
   text-align: center;
    height: 400px;
    width: 400px;
      background-color: rgb(0, 0, 0);
    border-radius: 20px;
  background: rgb(0, 255, 247);
  animation: slide 2s ease-in-out infinite alternate;
}

@keyframes slide {
  from { transform: translateX(0); }
  to   { transform: translateX(200px); }
}

/* CIRCLE */

.circle
{
      margin-top: 10px;
    border-radius: 60%;
    transition: border-radius 1s ease;
}